html{
  font-size: 62.5%; /* 16px*62.5%=10px=1rem */
  box-sizing: border-box;
}

body{
  font: 1.5rem Helvetica;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* React */
#root{
  height: 100%;
}

li{
  list-style-type: none;
  margin: 0.5rem;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p{
  margin-top: 0;
  margin-bottom: 1rem;
}

a{
  text-decoration: none;
  color: white;
}

small{
  font-size: 80%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr; /* Cột: 1*/
  grid-template-rows: auto 1fr auto; /* Hàng: 3 Header, Main, Footer*/
  height: 100%;
  overflow: auto;
}
/* Command */
/*~~~~ ~~~*/
/*~~~~ ~~~*/
/*~~~~ ~~~*/
/* Header */
.header-web{
  grid-area: header;
  font-size: 1.5rem;
  background-color: slategrey;
  color: white;
}

@media (max-width: 1200px){
  .header-web{
      font-size: 1.4rem;
  }
}

@media (max-width: 992px){
  .header-web{
      font-size: 1.3rem;
  }
}

@media (max-width: 768px){
  .header-web{
    font-size: 1.2rem;
  }
}
/* End Header */
/*~~~~ ~~~*/
/*~~~~ ~~~*/
/*~~~~ ~~~*/
/* Main */
.main-web{
  grid-area: main;
  position: relative;
  display: block;
  width: 90%;
  left: 5%;
  font-size: 1.8rem;
}

@media (max-width: 1200px){
  .main-web{
      font-size: 1.7rem;
  }
}

@media (max-width: 992px){
  .main-web{
      font-size: 1.6rem;
  }
}

@media (max-width: 768px){
  .main-web{
      font-size: 1.5rem;
  }
}
/* End Main */
/*~~~~ ~~~*/
/*~~~~ ~~~*/
/*~~~~ ~~~*/
/* Footer */
.footer-web{
  grid-area: footer;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  top: 500%;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: black;
  color: white;
}
/* End Footer*/