/* Fast-Header */
.fast-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
/* Left */
.fast-header-left ul{
    display: inline-flex;
}

.fast-header-left ul li a:hover{
    color: violet;
}
/* Right */
.input-group{
    display: flex;
}

.fast-header-right input[type=text]{
    padding: 10px;
    font-size: 16px;
    border: none;
}

.fast-header-right button{
    padding: 10px 12px;
    margin-right: 16px;
    background-color: whitesmoke;
    font-size: 16px;
    border: none;
    color: black;
    cursor: pointer;
}

.fast-header-right button:hover{
    background: violet;
}

.badge{
    background-color: red;
    color: white;
    border-radius: 50%;
    border: 0.2rem solid white;
    padding: 0.6rem 0.6rem;
    font-size: 1.1rem;
    margin-left: 0.3rem;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none !important;
    position: absolute;
    background-color: black;
    width: 12rem;
    padding: 1rem;
    border-radius: 0.8rem;
    z-index: 10;
}

#admin{
    color: red;
    margin-left: 0.8rem;
}

#admin i{
    animation: app-logo-spin infinite 6s linear
}

@keyframes app-logo-spin{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

#seller{
    color: yellow;
    margin-left: 0.8rem;
}

#seller i{
    animation: app-logo-spin-seller infinite 6s linear
}
  
@keyframes app-logo-spin-seller{
    from{transform: rotate(-45deg)}
    to{transform: rotate(45deg)}
}

.dropdown:hover .dropdown-content{
    display: block !important;
}

@media (max-width: 1200px){
    .fast-header-right input[type=text]{
        font-size: 14px;
    }
    .fast-header-right button{
        font-size: 14px;
    }
}

@media (max-width: 992px){
    .fast-header-right input[type=text]{
        font-size: 12px;
    }
    .fast-header-right button{
        font-size: 12px;
    }
}

@media (max-width: 768px){
    .fast-header-right{
        display: none;
    }
}